* {
    font-family: 'Raleway', Verdana, sans-serif;
    scroll-behavior: smooth;
}

:root {
    --alt-color: rgb(24, 24, 24);
    --main-color: rgb(255, 166, 0);
}
/* General Settings */

body {
    background-color: rgb(253, 253, 253);
    margin: 0;
}

h1 {
    font-weight: lighter;
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 10px;
    color: var(--main-color);
}

h2 {
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--main-color);
}

ul {
    list-style-type: none;
}

ol li {
    text-decoration: none;
    list-style-type: none;
    color: var(--alt-color);
}


.navbar a {
    color: var(--main-color);
    letter-spacing: 3px;
    text-decoration: none;
}

    .navbar a:hover {
        transition: 0.3s;
        color: var(--alt-color);
    }

    .navigation > li {
        text-transform: uppercase;

}

.content p {
    color: var(--alt-color);
    max-width: 55ch;
    line-height: 1.5;
    text-align: justify;
    
}

/* responsive images. this changes EVERYTHING <3 */
img {
    max-width: 100%;
    height: auto;
}

/* Boxes and stuff */

/* Navbar attempt */

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.navbar {
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    border-bottom: 1px solid var(--main-color);
    display: flex;
    flex-wrap: wrap;

}

    .navbar > ul li{
        padding: 20px;
        display: inline-block;
    }


@media screen and (max-width: 1100px) {
    .navbar h1 {
        margin-left: 1px;
        margin-bottom: 4px;
    }

    ul {
        padding-inline-start: 1px;
    }

    
    /* Forces 2 rows at certain site */
    .navbar {
        align-items: center;
        flex-direction: column;
        justify-content: space-around;

    }
    .navbar > ul li {
        padding: 3px;

    }
    .navbar > ul li:not(:last-child) {
        border-right: 1px solid var(--main-color);
    }


@media screen and (max-width: 362px) {
    h1 {
        font-size: 18px;
        font-weight: 600;
    }
}
    
}    
.content {
    display: flex;
    flex-direction: row;
    margin: 25px;
    justify-content: center;
    /* FADE ANIMATION */
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}
.content-text {
    padding-left: 35px;
}


/* About, WITH COOL FADE IN-EFFECT, using KEYFRAMES */

.about-wrap {
    text-align: center;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

.about-wrap p {
    text-align: justify;
    line-height: 1.6em;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

/* END OF COOL EFFECT */

    .about-wrap h1 {
        color: var(--alt-color);
        margin-left: 5px;
        font-size: 82px;
    }
    
    .about-wrap h3 {
        color: var(--main-color);
    }

    .about-wrap h2 {
        color: var(--alt-color);
    }


.about-text {
    max-width: 800px;
    margin: auto;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.about-item {
    margin: 10px;
    padding: 30px;
}

.about-item:nth-child(1) {
    background-color: rgb(247, 247, 247);
}

.about-item:nth-child(3) {
    background-color: rgb(247, 247, 247);
}

.logo h1 {
    border-bottom: 1px solid rgb(221, 221, 221);
}



/* End of About */
.blogger {
    display: flex;
    flex-direction: column;
}

    .portrait {
        border: 1px solid rgb(83, 83, 83);
        box-shadow: 2px 2px 5px rgb(172, 172, 172);
        border-radius: 50%;
    }

.gallery-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}
div.gallery {
    margin: 20px;
    border: 1px solid rgb(165, 165, 165);
    box-shadow: 2px 2px 5px rgb(172, 172, 172);
    transition: 0.1s;
    box-sizing: content-box;
    max-width: 500px;
}

    div.gallery:hover {
        box-shadow: 4px 5px 8px rgb(158, 158, 158);
        border: 1px solid rgb(12, 12, 12);
    }
    
    
    div.gallery img {
        max-width: 500px;
        height: auto;
    }
    
    div.desc {
        padding: 20px;
        text-align: center;
}

@media screen and (max-width: 560px) {
    div.gallery {
        max-width: 400px;
    }

    div.gallery img {
        max-width: 400px;
    }
}

.credit p {
    font-size: 20px;
    margin: 10px;
    columns: white;
    text-align: center;
}

.blog-nav {
    max-width: 560px;
    padding: 20px;
    background-color: rgb(247, 247, 247);
    text-decoration: dotted;
}

.blog-wrapper {
    display: flex;
    flex-direction: row;
    margin: 25px;
    justify-content: left;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

.blog-boxes {
    text-align: justify;
    padding: 0 30px 0 30px;
    line-height: 1.6em;
    max-width: 600px;
}

.blog-img {
    max-width: 600px;
    height: 300px;
    overflow: hidden;
}

.blog-content {
    border-bottom: 1px solid rgb(221, 221, 221);
    margin-bottom: 30px;
}

@media screen and (max-width: 1100px) {
    .blog-wrapper {
        flex-direction: column;
    }

    .blog-img {
        height: 200px;
    }

    .blog-boxes {
        padding: 1px;
    }
}


.foot-container {
    border-top: 1px solid rgb(214, 214, 214);
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    line-height: 35px;
}

.foot-container a {
    text-decoration: none;
    color: rgb(24, 24, 24);
}

.foot-container h3 {
    color: var(--alt-color);
}

@media screen and (max-width: 700px) {
    .foot-container > ul:first-child {
        padding-right: 30px;
        border-right: 1px solid rgb(214, 214, 214);
    }
}


input[type="text"], textarea {
    outline: none;
    padding: 5px 10px;
    margin: 3px 0;
    border-radius: 5px;
    border: none;
    background-color: rgb(241, 241, 241);
    color: rgb(34, 34, 34);
    width: 50%;
}

textarea {
    resize: none;
    width: 100%;
    height: 100px;
}

@media screen and (max-width: 1100px) {
    textarea {
        width: 90%;
    }
}

.button {
    text-align: right;
}
